@model WebApplication1.Models.Payment

@{
    ViewBag.Title = "Rent Payment Details";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="bold common-font blue">Rent Payment Details</h2>

<hr />

<div>
    <dl class="dl-horizontal common-font">
        <dt>@Html.DisplayNameFor(model => model.PaymentID)</dt>
        <dd>@Html.DisplayFor(model => model.PaymentID)</dd>

        <dt>@Html.DisplayNameFor(model => model.ReceiptNumber)</dt>
        <dd>@Html.DisplayFor(model => model.ReceiptNumber)</dd>

        <dt>@Html.DisplayNameFor(model => model.EmployeeID)</dt>
        <dd>@Html.DisplayFor(model => model.EmployeeID)</dd>

        <dt>@Html.DisplayNameFor(model => model.RentalContractID)</dt>
        <dd>@Html.DisplayFor(model => model.RentalContractID)</dd>

        <dt>@Html.DisplayNameFor(model => model.PaymentDate)</dt>
        <dd>@Html.DisplayFor(model => model.PaymentDate)</dd>

        <dt>@Html.DisplayNameFor(model => model.Amount)</dt>
        <dd>@Html.DisplayFor(model => model.Amount)</dd>

        <dt>@Html.DisplayNameFor(model => model.Notes)</dt>
        <dd>@Html.DisplayFor(model => model.Notes)</dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit/Update Employee Record", "Edit", new { id = Model.EmployeeID }) ::
    @Html.ActionLink("Employees", "Index")
</p>

