@model WebApplication1.Models.Apartment

@{
    ViewBag.Title = "Create";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="bold blue common-font text-center">New Apartment</h2>

@using (Html.BeginForm())
{
    <div class="containment">
        <div class="form-horizontal common-font">
            
            <div class="form-group">
                @Html.LabelFor(model => model.UnitNumber, htmlAttributes: new { @class = "control-label col-md-5 blue" })
                <div class="col-md-7">
                    @Html.TextBox("UnitNumber", null, htmlAttributes: new { @class = "form-control", id = "fName" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Bedrooms, htmlAttributes: new { @class = "control-label col-md-5 blue" })
                <div class="col-md-7">
                    @Html.TextBox("Bedrooms", null, htmlAttributes: new { @class = "form-control", id = "lName" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Bathrooms, htmlAttributes: new { @class = "control-label col-md-5 blue" })
                <div class="col-md-7">
                    @Html.TextBox("Bathrooms", null, htmlAttributes: new { @class = "form-control", id = "title" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.MonthlyRate, htmlAttributes: new { @class = "control-label col-md-5 blue" })
                <div class="col-md-7">
                    @Html.TextBox("MonthlyRate", null, htmlAttributes: new { @class = "form-control", id = "title" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SecurityDeposit, htmlAttributes: new { @class = "control-label col-md-5 blue" })
                <div class="col-md-7">
                    @Html.TextBox("SecurityDeposit", null, htmlAttributes: new { @class = "form-control", id = "title" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.OccupancyStatus, htmlAttributes: new { @class = "control-label col-md-5 blue" })
                <div class="col-md-7">
                    @Html.DropDownList("OccupancyStatus", null, htmlAttributes: new { @class = "form-control", id = "occupancyStatus" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-5">@Html.ActionLink("Apartments", "Index")</label>
                <div class="col-md-7">
                    <input type="submit" value="Add Apartment" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>
}