@model WebApplication1.Models.Apartment

@{
    /**/

    ViewBag.Title = "Details";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="bold blue common-font text-center">Apartment Details</h2>

<div class="containment">
    <dl class="dl-horizontal common-font">
        <dt>@Html.DisplayNameFor(model => model.ApartmentID)</dt>
        <dd>@Html.DisplayFor(model => model.ApartmentID)</dd>

        <dt>@Html.DisplayNameFor(model => model.UnitNumber)</dt>
        <dd>@Html.DisplayFor(model => model.UnitNumber)</dd>

        <dt>@Html.DisplayNameFor(model => model.Bedrooms)</dt>
        <dd>@Html.DisplayFor(model => model.Bedrooms)</dd>

        <dt>@Html.DisplayNameFor(model => model.Bathrooms)</dt>
        <dd>@Html.DisplayFor(model => model.Bathrooms)</dd>

        <dt>@Html.DisplayNameFor(model => model.MonthlyRate)</dt>
        <dd>@Html.DisplayFor(model => model.MonthlyRate)</dd>

        <dt>@Html.DisplayNameFor(model => model.SecurityDeposit)</dt>
        <dd>@Html.DisplayFor(model => model.SecurityDeposit)</dd>

        <dt>@Html.DisplayNameFor(model => model.OccupancyStatus)</dt>
        <dd>@Html.DisplayFor(model => model.OccupancyStatus)</dd>

    </dl>
</div>
<p class="text-center">
    @Html.ActionLink("Edit/Update Employee Record", "Edit", new { id = Model.ApartmentID }) ::
    @Html.ActionLink("Delete Employee Record", "Delete", new { id = Model.ApartmentID }) ::
    @Html.ActionLink("Apartments", "Index")
</p>

